{% extends 'base.html.twig' %}

{% block title %}Edit Users{% endblock %}

{% block body %}
    <div class="col-6 hor-center">
        <h2>{{ pageTitle }} szerkesztése</h2>

            {{ include('users/_form.html.twig', {'button_label': 'Update'}) }}
        <div class="d-flex flex-row">
            <button class="btn btn-primary me-3" form="myform">{{ button_label|default('Mentés') }}</button>
            {{ include('users/_delete_form.html.twig') }}        
        </div>

        
        <a href="{{ path('app_users_index') }}" class="btn btn-outline-primary mt-3">Vissza a listához</a>        
    </div>
{% endblock %}
