{% extends 'base.html.twig' %}

{% block title %}Felhasználó{% endblock %}

{% block body %}
    <div class="col-6 hor-center">
        <h2>Felhasználó: {{ user.username }}</h2>

        <table class="table table-hover">
            <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ user.id }}</td>
                </tr>
                <tr>
                    <th>Neve</th>
                    <td>{{ user.username }}</td>
                </tr>
                <tr>
                    <th>Jogosultság</th>
                    <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                </tr>
            </tbody>
        </table>

        <div class="d-flex flex-row">
            <a href="{{ path('app_users_edit', {'id': user.id}) }}" class="btn btn-primary me-3">Szekesztés</a>
            {{ include('users/_delete_form.html.twig') }}
        </div>
        
        <a href="{{ path('app_users_index') }}" class="btn btn-outline-primary mt-3">Vissza a Listára</a>

    </div>
{% endblock %}
